@media screen and (max-width: 500px) {
	#navbar > div > div:first-of-type {
		display: none;
	}
	#navbar > div {
		padding: 0 10px;
	}
	#navbar > img {
		display: none;
	}
}

.btn:hover {
	color: #fff;
	border: 2px var(--main-color) solid;
}
.btn:hover:before {
	transform: translate3d(0, 0, 0);
}

.link:hover::after,
.link:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

@import "./sections.css";
@import "./font.css";
